body{
    font-family: 'Roboto Condensed', sans-serif;
    
}

.section{
    display: flex;
height: 500px;
}
.sec-div{
    width: 50%;
}
.sec-div a{
    text-decoration: none;
    color: wheat;
    background-image: linear-gradient(salmon,lightcoral );
    padding: 10px;
    margin-top: 7px;
    margin-bottom: 10px;
    border-radius: 3px;
}
.section img{
    width: 45%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 17px;
}
#sec1-heading{
    border-left: 4px solid;
    border-image: linear-gradient(orange,red)30 ;
    border-radius: 1px;
}
#sec1-heading h1{
    padding-left: 8px;
}
#sec1-heading span{
    color: lightpink;
}
#sec1_div1{
    margin: 30px 6opx 10px 70px;
    padding: 31px 110px 69px 99px;
    text-align: justify;
}
#sec1_div2{
    padding: 29px 0px 0px 18px;
    margin: 7px 0px 0px 49px;
}
h1 span{
    color: lightsalmon;
}
/* though there is no need of id in section 2 but i added it out of curosity now whenever i am trying to delete the id the section misbehaves(divs border margin padding goes off) that's why i am keeping the id with the class which will be same for each section*/
#sec2 div{
    display: flex;
}
.sec2_div{
    border-radius: 20px;
    border: 2px solid;
    padding: 40px 75px 40px 75px;
    margin: 70px 70px 70px 70px;
}
#sec2_div1{
    background-color: lightseagreen;
    
}
#sec2_div2{
background-color: lightslategray;
}
#sec2_div3{
    background-color: linen;
}
#sec3_div1{
    margin: 70px 10opx 60px 30px;
    padding: 99px 69px 110px 31px;
    text-align: justify;
}
#sec3_div2{
    padding: 18px 110px 0px 29px;
    margin: 49px 70px 0px 7px;
}
#sec3_div1 img{
    width: 80%;
}
#sec4_div1{
    margin: 30px 6opx 10px 70px;
    padding: 31px 110px 69px 99px;
    text-align: justify;
}
#sec4_div2{
    padding: 29px 0px 0px 18px;
    margin: 7px 0px 0px 49px;
}
#sec4_div2 img{
    width: 80%;
}    
#sec4_dark{
    height: 150px;
    background-color: black;
color: whitesmoke;
text-align: center;
}
#sec4_dark span{
    color: lightsalmon;
}
#sec4_dark div{
    margin-top: 14px;
    padding-top: 14px;
}